In [5]:
numbers = [1,2,3]
new_list = []
for n in numbers:
  add_1 = n+1
  new_list.append(add_1)

new_list

[2, 3, 4]

List Comprehension

new_list = [new_item for item in list ]

List comprehension can be used in python sequences, such as list, range, tuple, string

In [7]:
new_list2 = [n+1 for n in numbers]
new_list2

[2, 3, 4]

In [9]:
name = "Angela"
new_list = [ letter for letter in name]
new_list

['A', 'n', 'g', 'e', 'l', 'a']

In [11]:
range(1,5) # create a list with list comprehension where are double the value in the range
new_list = [ 2*n for n in range(1,5)]
new_list

[2, 4, 6, 8]

Conditional list comprehension

new_list = [new_item for item in list if pass this test]

In [12]:
names = ["Alex", "Beth", "Caroline", "Dave", "Eleanor", "Freddie"]
#create a list that filter only name with 4 letter
short_name = [ name for name in names if len(name) <=4]
short_name

['Alex', 'Beth', 'Dave']

In [15]:
#create a list that filter name which letter > 5 then change to all character to upper case
uppercase_name = [name.upper() for name in names if len(name)> 5]
uppercase_name

['CAROLINE', 'ELEANOR', 'FREDDIE']

In [4]:
list_of_strings = ['9', '0', '32', '8', '2', '8', '64', '29', '42', '99']
numbers = [int(n) for n in list_of_strings]
result = [n for n in numbers if n%2 == 0]
print(result)

[0, 32, 8, 2, 8, 64, 42]

In [ ]:
list1 = []

Dictionary Comprehension

new_dict = {new_key:new_value **for** item **in** list}

new_dict = {new_key:new_value **for** (key,value)item **in** dict.items()}

In [11]:
names = ["Alex", "Beth", "Caroline", "Dave", "Eleanor", "Freddie"]
#create a dictionary students_scores from the names list with random score
import random
students_scores = {student:random.randint(1,100) for student in names}
students_scores

{'Alex': 98,
 'Beth': 81,
 'Caroline': 1,
 'Dave': 89,
 'Eleanor': 12,
 'Freddie': 28}

In [12]:
passed_students = {student:score for (student, score) in students_scores.items() if score > 60}
passed_students

{'Alex': 98, 'Beth': 81, 'Dave': 89}

In [16]:
#create result dictionatry that takes each word in the given sentence and calculates the number of letters in each word.
sentence = "What is the Airspeed Velocity of an Unladen Swallow?"
result = {word:len(word) for word in list(sentence.split())}
result

{'What': 4,
 'is': 2,
 'the': 3,
 'Airspeed': 8,
 'Velocity': 8,
 'of': 2,
 'an': 2,
 'Unladen': 7,
 'Swallow?': 8}

In [18]:
#create a dictionary called weather_f that takes each temperature in degrees Celsius and converts it into degrees Fahrenheit
weather_c = {"Monday": 12, "Tuesday": 14, "Wednesday": 15, "Thursday": 14, "Friday": 21, "Saturday": 22, "Sunday": 24}

weather_f = {day: (t*9/5 + 32) for (day,t) in weather_c.items()}
weather_f

{'Monday': 53.6,
 'Tuesday': 57.2,
 'Wednesday': 59.0,
 'Thursday': 57.2,
 'Friday': 69.8,
 'Saturday': 71.6,
 'Sunday': 75.2}

In [20]:
student_dict ={
    "student": ["Angela", "James", "Lily"],
    "score": [56, 76, 98]
}
student_dict

{'student': ['Angela', 'James', 'Lily'], 'score': [56, 76, 98]}

In [23]:
#Looping through dictionaries
for (key,value) in student_dict.items():
  print(value)

['Angela', 'James', 'Lily']
[56, 76, 98]

In [27]:
import pandas
student_data_frame = pandas.DataFrame(student_dict)

print(student_data_frame)

  student  score
0  Angela     56
1   James     76
2    Lily     98

In [28]:
#Loop through a data frame
for (key,value) in student_data_frame.items():
  print(value)

0    Angela
1     James
2      Lily
Name: student, dtype: object
0    56
1    76
2    98
Name: score, dtype: int64

In [31]:
#Loop through rows of a data frame
for (index, row) in student_data_frame.iterrows():
  print(index)

0
1
2

In [32]:
for (index, row) in student_data_frame.iterrows():
  print(row)

student    Angela
score          56
Name: 0, dtype: object
student    James
score         76
Name: 1, dtype: object
student    Lily
score        98
Name: 2, dtype: object

In [34]:
for (index, row) in student_data_frame.iterrows():
  print(row.student)

Angela
James
Lily

In [35]:
for (index, row) in student_data_frame.iterrows():
  print(row.score)

56
76
98

In [37]:
for (index, row) in student_data_frame.iterrows():
  if row.student == "Angela":
    print(row.score)

56